body{
    padding: 0;
    margin: 0;
}
main{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;   
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}
a.nav{
    text-decoration: none;
    color: black;
    text-align: center;
}